<!DOCTYPE html>
<html>
<head>
    <title>Totally Real YouTube</title>
</head>
<body>

<!-- Top bar -->
<table width="100%" border="1" cellpadding="10">
    <tr>
        <td width="20%"><b>NotYouTube</b></td>
        <td width="60%">
            <input type="text" size="60" placeholder="Search stolen laptops">
            <button>Search</button>
        </td>
        <td width="20%" align="center">
            <a href="#">Sign In (maybe)</a>
        </td>
    </tr>
</table>

<br>

<!-- Main layout -->
<table width="100%" border="1" cellpadding="10">
    <tr>

        <!-- Sidebar -->
        <td width="20%" valign="top">
            <b>Menu</b><br><br>
            <a href="#">Home</a><br><br>
            <a href="#">Ultra Deals</a><br><br>
            <a href="#">Sketchy Sellers</a><br><br>
            <a href="#">Definitely Legal</a><br><br>
            <a href="#">Recycle Bin</a>
        </td>

        <!-- Videos / Products -->
        <td width="80%" valign="top">

            <table width="100%" border="0" cellpadding="10">

                <tr>
                    <td width="33%" valign="top">
                        <img src="https://images-cdn.ubuy.co.in/64e03ba4e66cf0272f78e04f-lenovo-ideapad-1i-14-0-hd-laptop.jpg" width="200" height="120"><br>
                        <b>Samsung Ultra Mega Laptop</b><br>
                        soldByRoot.onion<br>
                        $3.50
                    </td>

                    <td width="33%" valign="top">
                        <img src="https://picsum.photos/200/120?random=12" width="200" height="120"><br>
                        <b>Lenovo ThinkWrong X999</b><br>
                        totallyNotScam.biz<br>
                        $17
                    </td>

                    <td width="33%" valign="top">
                        <img src="https://picsum.photos/200/120?random=13" width="200" height="120"><br>
                        <b>HP Half-Broken Edition</b><br>
                        uncleShop.exe<br>
                        $99999999
                    </td>
                </tr>

                <tr>
                    <td valign="top">
                        <img src="https://picsum.photos/200/120?random=14" width="200" height="120"><br>
                        <b>Dell Alien Potato</b><br>
                        area51_laptops<br>
                        $42
                    </td>

                    <td valign="top">
                        <img src="https://picsum.photos/200/120?random=15" width="200" height="120"><br>
                        <b>Asus ROG-ish Thing</b><br>
                        keyboardMissing.store<br>
                        $404
                    </td>

                    <td valign="top">
                        <img src="https://picsum.photos/200/120?random=16" width="200" height="120"><br>
                        <b>MacBook Pro Max Ultra Fake</b><br>
                        appleDefinitely.com<br>
                        $1.99
                    </td>
                </tr>

                <tr>
                    <td valign="top">
                        <img src="https://picsum.photos/200/120?random=17" width="200" height="120"><br>
                        <b>Gaming Laptop (Runs Paint)</b><br>
                        fpsDropper.inc<br>
                        $250
                    </td>

                    <td valign="top">
                        <img src="https://picsum.photos/200/120?random=18" width="200" height="120"><br>
                        <b>Office Laptop 2007</b><br>
                        windowsVistaFanClub<br>
                        $60
                    </td>

                    <td valign="top">
                        <img src="https://picsum.photos/200/120?random=19" width="200" height="120"><br>
                        <b>Quantum Laptop (Concept)</b><br>
                        trustMeBro.ai<br>
                        $∞
                    </td>
                </tr>

            </table>

        </td>
    </tr>
</table>

</body>
</html>
